<div class="form-group">
  <label for="title">Title</label>
  <input
    type="text"
    class="form-control"
    id="title"
    name="title"
    placeholder="Enter title"
    required
  />
</div>

<div class="form-group">
  <label for="author">Author</label>
  <input
    type="text"
    class="form-control"
    id="author"
    name="author"
    placeholder="Enter author"
    required
  />

<div class="form-group">
        <label for="content">Content</label>
        <textarea
            class="form-control"
            id="content"
            name="content"
            rows="3"
            required>
            </textarea>
<a href="/articles" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>